body{
  background-color: #262626;
}
main{
  height: 100vh;
  width: 100vw;

}

.p-gallery__slide{
  .swiper-slide{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    opacity: 0;
    transition: all .3s;
    background-color: #262626;
    &.swiper-slide-active{
      opacity: 1;
    }
    img{
      display: block;
      width: auto;
      max-height: 100vh;
      &:not([src]):not([srcset]) {
        visibility: hidden;
      }
    }

  }
}